@use "variables";
@use "mixins";

/* Soft UI Theme */
.soft-ui-theme {
  // Theme colors for application
  // This color changes the left nav and cards
  --main-color: white;

  // This color changes the main content background color and input backgrounds
  --main-view-bg-color: #f0f7ff;

  // This color will change the main body background color
  --main-secondary-color: #FFFCF9;

  // Button and link styles
  --button-color: #48A8FF;
  --link-color: #48A8FF;
  --color-link-and-buttons: #48A8FF;
  --disabled-color: #ececec;
  --button-border-radius: 10px;

  // These two colors change the borders/underlines and font colors
  --main-third-color: #AFD2E9;
  --main-font-color: #216db0;
  --card-and-table-text-colors: #216db0;
  --main-alt-color: #48A8FF;

  --field-name-color: ececec;
  --field-value-color: var(--main-font-color);

  //Material Colors
  --md-theme-default-primary: var(--color-link-and-buttons);
  --md-theme-default-background: var(--main-color);
  --md-theme-default-primary-on-background: var(--color-link-and-buttons);
  --md-theme-default-text-primary-on-background: var(--main-font-color);

  body {
    color: var(--main-font-color);
  }

  .field-name {
    color: var(--main-font-color);
  }

  .field-value {
    color: var(--field-value-color);
    font-weight: bold;
  }

  // Card and Page layouts =======================
  .ds-card, .page-layout-content {
    border-radius: var(--app-border-radius);

    // DsCard header
    .ds-card-header {
      color: var(--main-font-color) !important;
    }
  }

  // Page title
  .page-title {
    color: var(--main-font-color);
  }

  // Main app left side bar =======================
  .nav-area-left {
    @include mixins.box-soft-shadow('soft-ui-theme');
    margin: 1rem;
    border-radius: var(--app-border-radius);
  }

  // App Logo styles ===============================
  .site-name, .site-name-short, .site-name-media {
    color: var(--main-font-color);
  }

  // Nav styles ====================================
  #leftNav {

    // Admin header
    .nav-item-header {
      border-bottom-color: var(--main-view-bg-color);
    }

    // Admin header label
    .nav-item-header .nav-item-header-label {
      color: var(--main-font-color);
    }

    // Logo
    .site-name, .site-name-short, .site-name-media {
      color: var(--main-font-color);
    }

    // Nav item
    .nav-item, .nav-sub-item {
      padding: 1rem;
      margin: 1rem;
      border: none;
    }

    .nav-item, .nav-sub-item, .nav-item-icon {
      color: var(--main-font-color) !important;

      // Nav icon
      .nav-item-icon .md-icon {
        color: var(--main-font-color) !important;
      }
    }

    // Nav item border
    .nav-item {
      border-bottom-color: var(--main-view-bg-color);
    }

    // Selected nav item
    :is(.nav-item, .nav-sub-item).selected {
      font-weight: bold;
      color: var(--button-color) !important;
      @include mixins.box-inset-soft-shadow('soft-ui-theme');
      border-radius: var(--app-border-radius);
      display: flex;
      align-items: center;

      // Selected nav icon
      .nav-item-icon .md-icon {
        color: var(--button-color) !important;
      }
    }
  }

  // Pagination grid styles ========================
  .ds-pagination-grid-v2 {
    box-shadow: none;
  }

  // Ag Grid theme =================================
  .ag-grid.ag-theme-material {
    // Grid colors
    --row-font-color: var(--main-font-color);
    --hover-color: var(--main-view-bg-color);

    font-family: var(--main-font);

    .ag-header {
      font-family: inherit !important;
    }

    .ag-row-hover {
      background-color: var(--main-view-bg-color);
      color: var(--main-font-color);
    }
  }

  // Material theme overrides ======================
  .md-button.md-icon-button {
    @include mixins.box-soft-shadow('soft-ui-theme');
    background-color: white;
  }

  // Stats page =====================================
  #metrics {
    .venue-event-controls {
      @include mixins.box-soft-shadow('soft-ui-theme')
    }

    // Metrics card
    .metrics-card {
      border-radius: var(--app-border-radius);
      @include mixins.box-soft-shadow('soft-ui-theme');

      .description {
        color: var(--main-font-color);
      }

      .icon {
        color: var(--main-font-color) !important;
      }
    }

    // DsCard and Metric summary
    .ds-card, .metric-summary {
      @include mixins.box-soft-shadow('soft-ui-theme')
    }

    // DsCard
    .ds-card {
      padding: 2rem;
      // Header
      .ds-card-header {
        color: var(--main-font-color) !important;
      }

    }

    .metric-controls {
      border: none;
      overflow: hidden;
    }

    // Metric summary
    .metric-summary {
      overflow: hidden !important;
      border-radius: var(--app-border-radius);

      // Metric item
      .metric-item {
        background: transparent;
        border: none;
      }
    }
  }
  // App controls ===================================

  // DsInputWrapper
  .ds-input-wrapper {
    width: 100%;
  }

  // DsButton
  .ds-button {
    border-radius: var(--button-border-radius);
  }

  // DsSelect
  .ds-select .selected-item, .ds-filter, .ds-input input {
    @include mixins.box-inset-soft-shadow('soft-ui-theme');
    border-radius: var(--app-border-radius);
    border-bottom: none;
  }

  .ds-input input {
    border-bottom: none;
  }

  .ds-search {
    border-bottom: none;
    background-color: transparent;
  }

  .actions-renderer .md-button {
    @include mixins.box-soft-shadow('soft-ui-theme');
  }

  .actions-renderer .delete-icon {
    color: var(--button-color) !important;
  }

  // Venue Event control bar
  .venue-event-controls {
    border-radius: var(--app-border-radius);
    @include mixins.box-soft-shadow('soft-ui-theme');

    .event-date .date-value {
      @include mixins.box-inset-soft-shadow('soft-ui-theme');
      max-height: 36px;
      line-height: 36px;
    }
  }


  // Forms =========================================

  // VENUE FORM
  #venueForm {
    // Address block
    .address-block {
      width: 100%;
      background: transparent;
    }

    // Actions container
    .actions {
      width: 100%;
    }

    // Address button label
    .address-button-label {
      color: var(--main-font-color);
    }
  }

  // MODULE FORM
  .settings-form .item-field-value  input {
    @include mixins.box-inset-soft-shadow('soft-ui-theme');
  }

  .settings-form .item-field-value input:focus {
    outline: none;
    box-shadow: 0 0 0 2pt var(--button-color);
  }

  // BRAND FORM
  .settings-form .item-field > .item-field-name {
    color: var(--main-font-color);
  }

  // Modal =========================================

  // Modal title
  #ds-base-modal {
    .modal-title {
      color: var(--main-font-color);
    }
  }

  // Module configuration form
  .configuration-form {
    label {
      color: var(--main-font-color);
    }
  }

  .v--modal {
    background-color: var(--main-color) !important;
    border-radius: var(--app-border-radius);
  }
}

// Md Dialog theme
.md-dialog.soft-ui-theme {
  --md-theme-default-primary-on-background: var(--main-font-color);

  .md-dialog-container {
    border-radius: var(--app-border-radius);
    padding: 1rem;
  }

  .md-title {
    color: var(--main-font-color);
  }

  .dialog-content {
    color: var(--main-font-color);
  }

  .dialog-content .search-input {
    margin: 1rem 0;
    @include mixins.box-inset-soft-shadow('soft-ui-theme');

    input, .search-icon {
      color: var(--main-font-color);

      &::-webkit-input-placeholder {
        color: var(--main-font-color);
      }

      &::-ms-input-placeholder {
        color: var(--main-font-color);
      }

      &:-ms-input-placeholder {
        color: var(--main-font-color);
      }
    }
  }

  .dialog-content .select-list {
    box-shadow: none;
    @include mixins.box-inset-soft-shadow('soft-ui-theme');
  }

  .dialog-content .select-list .list-item {
    color: var(--main-font-color);
  }

  .md-dialog-actions {
    background-color: transparent;
  }
}
